<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <div id="Registro">
        <h2>Bem-vindo, {{ name }}!</h2>
        <div id="info">
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Registro:</strong> {{ registration }}</p>
            <p><strong>Semestre:</strong> {{ semester }}</p>
            <p><Strong>ID:</Strong> {{ id }}</p>
        </div>
        <a href="/">Sair</a>
    </div>
</body>
</html>
