<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginUJ</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div class="login">
        <h2>Login</h2>
        <div class="forms">
            <form id="login-form" method="post" action="/login">
                <div class="inputs">
                    <div class="email">
                        <input type="text" id="email" name="email" placeholder="insert your email">
                    </div>
                    <div class="password">
                        <input type= "password" id="password" name="password" placeholder="insert your password">
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" id="login-button">Login</button>
                    <button type="button" id="register-button">Registrar-se</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>