<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginUJ</title>
    <script defer src="main.js"></script>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>
    <div id="banana">
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" id="email" placeholder="insert your email">
            <input type= "password" id="password" placeholder="insert your password">
            <button type="submit">login</button>
        </form> 
    </div>
</body>
</html>