<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="cadastro">
        <h2>Cadastro</h2>
        <div class="forms">            
            <form action="/register" method="POST">
                <div class="inputs">
                    <div class="name">
                        <input id="name" type="text" name="name" placeholder="Insira seu nome" required >
                    </div> 
                    
                    <div class="email">
                        <input id="email" type="email" name="email" placeholder="Insira seu E-mail" required>
                    </div>
                    
                    <div class="matricula">
                        <input id="matricula" type="text" name="registration" placeholder="Insira sua matricula" required>
                    </div>
                    
                    <div class="semester">
                        <input id="semester" type="number" name="semester" placeholder="Insira seu semestre" required>
                    </div>
                
                    <div class="password">
                        <input id="password" type="password" name="password" placeholder="Insira sua senha" required>
                    </div>
                </div>
                <div class="button">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
